body {
  margin: 0;
  font-family: Georgia, serif;
  background: radial-gradient(circle at top, #2b0f0f, #050505 70%);
  color: #e8e0d0;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 90px 20px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(20, 0, 0, 0.9)),
    url("images/lava-scene.png");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #7a1f0e;
}

header h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #ff6b35;
  text-shadow: 0 0 15px #ff2200, 0 0 30px #5c0000;
  letter-spacing: 3px;
}

header p {
  font-size: 20px;
  max-width: 750px;
  margin: auto;
  color: #d8c7b0;
}

section {
  max-width: 1000px;
  margin: 45px auto;
  padding: 35px;
  background-color: rgba(15, 8, 6, 0.92);
  border: 1px solid #4a1a10;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(255, 60, 0, 0.12);
}

h2 {
  color: #ff7842;
  font-size: 34px;
  text-shadow: 0 0 10px rgba(255, 90, 20, 0.5);
}

p {
  color: #ddd0bd;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(255, 60, 0, 0.25);
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  width: 30%;
  min-width: 250px;
  border-radius: 10px;
  border: 2px solid #5c1a0d;
  filter: brightness(70%) contrast(120%);
  box-shadow: 0 0 18px rgba(255, 50, 0, 0.2);
}

.gallery img:hover {
  filter: brightness(95%) contrast(130%);
  transform: scale(1.03);
  transition: 0.3s;
}

ul {
  padding-left: 25px;
}

li {
  margin-bottom: 10px;
  color: #d9c2a3;
}

footer {
  text-align: center;
  padding: 25px;
  background-color: #050505;
  color: #9c8f80;
  border-top: 1px solid #4a1a10;
}
